.App {
  height: 100vh;
  width: 100%;
}

#root {
  height: 100vh;
  width: 100%;
}

.messages {
  height: 60%;
  overflow-y: scroll;
  padding: 0 20px;

  margin: 10% auto 0 auto;
  width: 80%
}

.messageForm {
  height: 10%;
  width: 100%;
}

.messageInput {
  height: 40px;
  width: 80%;
}
.messageButton {
  height: 46px;
  width: 10%;
  border: 2px solid #4CAF50;
  padding: 1px 2px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0px;
}

.messageHeader {
  height: 10%;
  width: 100%;
  text-align: center;
  padding: 10px;
}
